body {
  font-family: "Palette Mosaic", cursive;
  font-family: "Poppins", sans-serif;
  /* margin: auto;
  max-width: 38rem;
  padding: 2rem; */
  background: transparent;
  margin: 0;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  /* height: 100vh; */
}
